.main-title {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  font-family: var(--font-body);
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  color: var(--color-secondary);
  opacity: 0;
  animation: fadeIn 2s ease, dropIn 2s ease;
  animation-fill-mode: forwards;
}

.main-content {
  font-family: var(--font-body);
  font-size: 1em;
  text-align: center;
  margin: 20px 10px;
  opacity: 0;
  animation: fadeIn 2s ease, dropInHalf 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

@media (max-width: 728px) {
  /* resize based on screen size, even fonts too */
  .button {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* resize button size */
  .button-main {
    font-size: 1em;
  }

  .navbar-main {
    display: block;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    opacity: 0;
    animation: fadeIn 2s ease, dropIn 2s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    margin-bottom: 15px;
  }

  .button-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-nav);
    font-size: 1em;
    color: snow;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }

  .main-title {
    margin: 25px;
    opacity: 0;
    font-size: 2em;
    animation: fadeIn 2s ease, dropIn 2s ease;
    animation-fill-mode: forwards;
  }

  .main-subtext-1 {
    font-size: 1em;
  }

  .main-content {
    font-size: 0.75em;
  }
}
