.index-button {
  opacity: 0.5;
}

.about-button {
  opacity: 1;
}

.contact-button {
  opacity: 0.5;
}

.main-title {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  font-family: var(--font-body);
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  color: var(--color-secondary);
  opacity: 0;
  animation: fadeIn 2s ease, dropIn 2s ease;
  animation-fill-mode: forwards;
}

.main-content {
  font-family: var(--font-body);
  font-size: 1em;
  text-align: center;
  margin: 20px 10px;
  opacity: 1;
  animation-fill-mode: forwards;
}

.subtext-1 {
  opacity: 0;
  margin: 10px;
  font-size: 3em;
  animation: fadeIn 3s ease, dropIn 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.subtext-2 {
  opacity: 0;
  margin: 10px;
  font-size: 1.5em;
  animation: fadeIn 3s ease, dropInHalf 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 1.25s;
}

.courseworks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  animation: fadeIn 3s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.courseworks h1 {
  width: 100%;
  display: block;
  justify-content: center;
  font-size: 3em;
  margin: 10px;
  opacity: 0;
  animation: fadeIn 3s ease, dropInHalf 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.coursework {
  display: block;
  margin: 25px 40px;
  padding: 25px;
  text-align: left;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
}

.coursework:hover {
  animation: secondaryColorHover 0.5s ease, nudgeUp 0.5s ease;
  animation-fill-mode: forwards;
}

.coursework:not(:hover) {
  animation: secondaryColorNotHover 0.25s ease, nudgeDown 0.25s ease;
  animation-fill-mode: forwards;
}

.coursework h1 {
  font-size: 2em;
  margin: 0px;
}


.clist {
  font-size: 1.5em;
  display: block;
  margin: 0px 20px;
  border: none;
  opacity: 0;
  animation: fadeIn 3s ease, dropInHalf 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.langs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 3s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.langs h1 {
  width: 100%;
  display: block;
  justify-content: center;
  font-size: 3em;
  margin: 10px;
  opacity: 0;
  animation: fadeIn 3s ease, dropInHalf 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.lang {
  display: block;
  margin: 25px 40px;
  padding: 25px;
  text-align: left;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
}

.lang:hover {
  animation: secondaryColorHover 0.25s ease, nudgeUp 0.25s ease;
  animation-fill-mode: forwards;
}

.lang:not(:hover) {
  animation: secondaryColorNotHover 0.25s ease, nudgeDown 0.25s ease;
  animation-fill-mode: forwards;
}

.lang h1 {
  font-size: 2em;
  margin: 0px;
}

.llist {
  font-size: 1.5em;
  display: block;
  margin: 0px 20px;
  border: none;
  opacity: 0;
  animation: fadeIn 3s ease, dropInHalf 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 3s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.interests h1 {
  width: 100%;
  display: block;
  justify-content: center;
  font-size: 3em;
  margin: 10px;
  opacity: 0;
  animation: fadeIn 3s ease, dropInHalf 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.interest {
  display: block;
  margin: 25px 40px;
  padding: 25px;
  text-align: left;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
}

.interest:hover {
  animation: secondaryColorHover 0.25s ease, nudgeUp 0.25s ease;
  animation-fill-mode: forwards;
}

.interest:not(:hover) {
  animation: secondaryColorNotHover 0.25s ease, nudgeDown 0.25s ease;
  animation-fill-mode: forwards;
}

.interest h1 {
  font-size: 2em;
  margin: 0px;
}

.ilist {
  font-size: 1.5em;
  display: block;
  margin: 0px 20px;
  border: none;
  opacity: 0;
  animation: fadeIn 3s ease, dropInHalf 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}


/* particles.js */

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

@media (max-width: 728px) {
  .button {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* resize button size */
  .button-main {
    font-size: 1em;
  }

  .navbar-main {
    display: block;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    opacity: 0;
    animation: fadeIn 2s ease, dropIn 2s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    margin-bottom: 15px;
  }

  .button-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-nav);
    font-size: 1em;
    color: snow;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }

  .main-title {
    margin: 25px;
    opacity: 0;
    font-size: 2em;
    animation: fadeIn 2s ease, dropIn 2s ease;
    animation-fill-mode: forwards;
  }

  .subtext-1 {
    font-size: 2em;
  }

  .subtext-2 {
    font-size: 1.5em;
  }

  .main-content {
    font-size: 0.75em;
  }

  /* resize the texts. */

  .courseworks h1 {
    font-size: 2em;
  }

  .coursework h1 {
    font-size: 1.5em;
  }

  .clist {
    font-size: 1em;
  }

  .langs h1 {
    font-size: 2em;
  }

  .lang h1 {
    font-size: 1.5em;
  }

  .llist {
    font-size: 1em;
  }

  .interests h1 {
    font-size: 2em;
  }

  .interest h1 {
    font-size: 1.5em;
  }

  .ilist {
    font-size: 1em;
  }


}