:root {
  --font-body: "Hind Siliguri", sans-serif;
  --font-nav: "Bebas Neue", sans-serif;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 300;
}

.navbar-main ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: snow;
}

.button-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--font-nav);
  font-size: 1.25em;
  color: snow;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.button {
  margin: 25px;
  padding: 15px;
}

.button-main a {
  color: #f5deb3;
  text-decoration: none;
  font-size: 1.5em;
}

.index-button {
  opacity: 1;
}

.about-button {
  opacity: 0.5;
}

.contact-button {
  opacity: 0.5;
}

.button:hover {
  opacity: 1;
  animation: hoverZoomIn 0.5s ease;
  animation-fill-mode: forwards;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.button:not(:hover) {
  animation: hoverZoomOut 0.5s ease;
  animation-fill-mode: forwards;
}

.navbar-main {
  display: block;
  align-items: center;
  opacity: 0;
  background-color: rgba(6, 18, 42, 0.346);
  border-radius: 15px;
  animation: fadeIn 2s ease, dropIn 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  margin-bottom: 15px;
}

.main-content {
  display: block;
  opacity: 0.25;
}

.main-title {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  font-family: var(--font-body);
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  color: snow;
  opacity: 0;
  animation: fadeIn 2s ease, zoomIn 2s ease, letterSpaceOut 3s ease,
    letterSpaceIn 2s 3s ease;
  animation-fill-mode: forwards;
}

.main-content {
  display: block;
  text-align: center;
  margin: 25px;
  font-weight: normal;
  color: snow;
  opacity: 0;
  animation: dropIn 3s ease, fadeIn 3s ease;
  animation-fill-mode: forwards;
  font-family: var(--font-body);
  font-size: 1em;
  letter-spacing: 2px;
}

.main-subtext-1 {
  margin: 0px;
  text-align: left;
}

.main-subcontent-1 {
  display: block;
  margin: 0px;
  opacity: 0;
  animation: dropIn 2s ease, fadeIn 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.main-subcontenttitle-2 {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: left;
  opacity: 0;
  animation: dropIn 2s ease, fadeIn 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

.main-subcontenttitle-2 h1 {
  margin: 0px;
}

.main-subcontent-2 {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  animation: fadeIn 2s ease, swipeLeft 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.ytvideo-container {
  position: relative;
  overflow: hidden;
  width: 640px;
  height: 360px;
}

.yt-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.main-subtext-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 800px;
  text-align: left;
}

.subtext-2-1 {
  margin: 0;
  font-weight: normal;
  color: white;
  opacity: 0.75;
}

.subtext-2-2 {
  margin: 0;
  font-weight: normal;
  color: white;
  font-size: 2.5em;
}

.subtext-2-3 {
  margin: 0;
  font-weight: normal;
  color: white;
  opacity: 0.75;
}

.info-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  list-style-type: none;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.main-subcontent-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex;
  flex-direction: row-reverse;
  margin: 0px;
  opacity: 0;
  animation: fadeIn 2s ease, swipeRight 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
}

.main-subcontenttitle-3 {
  margin: 0px;
  text-align: right;
  opacity: 0;
  animation: dropIn 2s ease, fadeIn 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  max-width: 250px;
  margin: 25px;
}

.python {
  max-width: 200px;
}

.selenium {
  max-width: 200px;
  margin-right: 25px;
}

.logo:hover {
  animation: hoverZoomInHalf 0.5s ease;
  animation-fill-mode: forwards;
}

.logo:not(:hover) {
  animation: hoverZoomOutHalf 0.5s ease;
  animation-fill-mode: forwards;
}

.main-subtext-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 800px;
  text-align: right;
}

.subtext-3-1 {
  margin: 0px;
  font-weight: normal;
  color: white;
  opacity: 0.75;
}

.subtext-3-2 {
  margin: 0px;
  font-weight: normal;
  color: white;
  font-size: 2.5em;
}

.subtext-3-3 {
  margin: 0px;
  font-weight: normal;
  color: white;
  opacity: 0.75;
}

.info-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  list-style-type: none;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.info {
  display: flex;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 55px;
  margin-right: 55px;
  opacity: 0.5;
}

.info a {
  margin: 0px;
  padding: 0px;
}

.info img {
  display: flex;
  max-width: 50px;
  max-height: 50px;
  margin: 0px;
  padding: 0px;
}

.info:hover {
  animation: hoverZoomIn 0.5s ease, fadeInHalf 0.5s ease;
  animation-fill-mode: forwards;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.info:not(:hover) {
  animation: hoverZoomOut 0.5s ease, fadeOutHalf 0.5s ease;
  animation-fill-mode: forwards;
}

body {
  color: #555;
  line-height: 1.6;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: #111111;
  overflow-x: hidden;
}

.copyright {
  display: block;
  text-align: center;
  margin: 0px;
  font-size: 1em;
  color: snow;
  opacity: 0;
  animation: fadeIn 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.copyright-text {
  font-family: var(--font-body);
  font-weight: normal;
  opacity: 0.5;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

@media (max-width: 728px) {

  /* resize the youtube frame */
  .ytvideo-container {
    width: 320px;
    height: 180px;
  }

  .subtext-2-1 {
    font-size: 0.75em;
  }

  .subtext-3-1 {
    font-size: 0.75em;
  }

  /* resize based on screen size, even fonts too */
  .button {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* resize button size */
  .button-main {
    font-size: 1em;
  }

  .navbar-main {
    display: block;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.00);
    border-radius: 15px;
    opacity: 0;
    animation: fadeIn 2s ease, dropIn 2s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    margin-bottom: 15px;
  }

  .button-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-nav);
    font-size: 1em;
    color: snow;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }

  .main-title {
    opacity: 0;
    font-size: 2em;
    animation: fadeIn 2s ease, zoomIn 2s ease, letterSpaceOut_small 3s ease,
      letterSpaceIn_small 2s 3s ease;
    animation-fill-mode: forwards;
  }

  .main-subtext-1 {
    font-size: 1em;
  }

  .main-subcontenttitle-2 {
    font-size: 1em;

  }

  .main-content {
    font-size: 0.75em;
  }

  .main-subtext-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .main-subtext-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .info {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .info a {
    margin: 0px;
    padding: 0px;
    font-size: 0.5em;
  }

  .info img {
    max-width: 25px;
    max-height: 25px;
  }

  .logo {
    max-width: 100px;
  }

  /* also make the spans smaller */
  .main-subcontent-2 span {
    margin: 0px;
    padding: 0px;
  }

  .subtext-2-2 {
    font-size: 1.5em;
  }

  .main-subcontenttitle-3 {
    font-size: 1em;
  }

  .main-subtext-3 span {
    margin: 0px;
    padding: 0px;
  }

  .subtext-3-2 {
    font-size: 1.5em;
  }
}