.landing-page {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
}

.landing-page-img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: brightness(0.75);
}

.landing-page-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-page-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.landing-page-text{
    font-size:  var(--ts2);
}


.landing-page-title{
    opacity: 0;
    animation: swipeToLeft 1s ease forwards , fadeIn 1s ease forwards;
    animation-delay: 0.5s;
}

.landing-page-subtitle-1{
    opacity: 0;
    animation: swipeToLeft 1s ease forwards, fadeIn 1s ease forwards;
    animation-delay: 1.5s;
}

.landing-page-subtitle-2{
    opacity: 0;
    animation: swipeToLeft 1s ease forwards , fadeIn 1s ease forwards;
    animation-delay: 2s;
}

.home {
    margin: 25px;
    padding: 25px;
    width: 50%;
    height: 3000px;
    background-color: var(--color3);
}

.about {
    margin: 25px;
    padding: 25px;
    width: 50%;
    height: 3000px;
    background-color: var(--color3);
}

.contact {
    margin: 25px;
    padding: 25px;
    width: 50%;
    height: 3000px;
    background-color: var(--color3);
}



@media (max-width: 840px) {
    .landing-page-text {
        font-size: var(--ts1);
    }
}


/* == */