:root {
    --font-body: "Hind Siliguri", sans-serif;
    --font-nav: "Bebas Neue", sans-serif;
    --color-body: rgb(43, 45, 66);
}

body {
    font-family: var(--font-body);
    background-color: var(--color-body);
    color: var(--color-text);
    font-size: 18px;
}