:root {
  --font-body: "Hind Siliguri", sans-serif;
  --font-nav: "Bebas Neue", sans-serif;
  --color-body: rgb(43, 45, 66);
  --main-hover: rgba(43, 45, 66, 0.75);
  --main-not-hover: rgba(43, 45, 66, 0.5);
  --color-secondary: rgb(141, 153, 174);
  --secondary-hover: rgba(18, 148, 144, 0.75);
  --secondary-not-hover: rgba(18, 148, 144, 0.5);
  --color-tertiary: rgb(248, 243, 43);
  --tertiary-hover: rgba(248, 243, 43, 0.75);
  --tertiary-not-hover: rgba(248, 243, 43, 0.5);
  --color-links: rgb(255, 255, 255);
  --color-text: rgb(224, 168, 144);
}

body {
  font-family: var(--font-body);
  background-color: var(--color-body);
  color: var(--color-text);
  overflow-x: hidden;
  font-size: 18px;
}
a {
  list-style-type: none;
  text-decoration: none;
  color: var(--color-links);
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 300;
}

.navbar {
  background-color: var(--color-secondary);
}

.navbar-buttons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--font-nav);
  font-size: 1.25em;
  color: var(--color-links);
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.button {
  text-align: center;
  margin: 15px;
  padding: 15px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.navbar-buttons a {
  color: var(--color-links);
  text-decoration: none;
  font-size: 1.5em;
}

.button:hover {
  opacity: 1;
  animation: hoverZoomIn 0.5s ease;
  animation-fill-mode: forwards;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
}

.button:not(:hover) {
  animation: hoverZoomOut 0.5s ease;
  animation-fill-mode: forwards;
}

.navbar {
  display: block;
  align-items: center;
  opacity: 0;
  background-color: var(--color-secondary);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease, dropIn 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  margin-bottom: 15px;
}

.copyright {
  display: block;
  text-align: center;
  margin: 0px;
  font-size: 1em;
  color: snow;
  opacity: 0;
  animation: fadeIn 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.copyright-text {
  font-family: var(--font-body);
  font-weight: normal;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .navbar-buttons {
    justify-content: space-around;
  }

  .button {
    margin: 5px;
    padding: 5px;
  }

  .navbar-buttons a {
    font-size: 1em;
  }

  .navbar {
    margin-bottom: 5px;
  }
}
