:root {
    --font-hindi: "Hind Siliguri", sans-serif;
    --font-mono: "Courier Prime", monospace;
    --color-body: rgb(43, 45, 66);
    --color-text: white;
    --color1: rgb(141, 153, 174);
    --color2: rgba(18, 148, 144);
    --color3: rgb(9, 79, 77);
    --margin-pc: 25px;
    --ts1: 1em;
    --ts2: 1.5em;
    --ts3: 2em;
    --ts4: 2.5em;
    --ts5: 3em;

    --phone-margin: 15px;

    --phone-ts: 12px;
    --phone-ts2: 22px;
    --phone-titlets: 2em;
    --navbar-title-color: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    --navbar-panel-color: linear-gradient(-90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.25) 100%);
    --navbar-panel-box-shadow: 0px 0px 200px 1200px rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-hindi);
    background-color: var(--color-body);
    color: var(--color-text);
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

/* navbar */
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: var(--navbar-title-color);
    width: 100%;
    height: 125px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 3;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px 150px;
    transition: all 0.25s ease;
}

.navbar-logo img {
    max-width: 150px;
    max-height: 150px;
}

.navbar-buttons {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: var(--ts3);
    text-decoration: none;
    list-style-type: none;
    color: var(--color-text);
}

.button a {
    color: var(--color-text);
    text-decoration: none;
    opacity: 0.75;
    transition: all 0.25s ease;
    padding: 25px;
}

.button a:hover {
    opacity: 1;
}

.button:hover {
    animation: nudgeUp 0.25s ease forwards;
}

.button:not(:hover) {
    animation: nudgeDown 0.25s ease forwards;
}

.navbar-quicklinks {
    display: flex;
    padding: 0px;
    margin: 25px;
    transition: all 0.25s ease;
}

.ql {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.ql img {
    width: 50px;
    height: 50px;
    padding: 15px 10px;
    opacity: 0.75;
    transition: all 0.25s ease;
}

.ql img:hover {
    opacity: 1;
    animation: nudgeUp 0.25s ease forwards;
}

.ql img:not(:hover) {
    animation: nudgeDown 0.25s ease forwards;
}

.vl {
    align-self: center;
    border-left: 3px solid var(--color-text);
    height: 50px;
    margin: 0px;
}

.title-navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    transition: all 0.25s ease;
}

.title-hamburger-icon {
    opacity: 0.75;
    transition: all 0.25s ease;
}

.title-hamburger-icon:hover {
    opacity: 1;
}

.scrolled-navbar {
    display: none;
    position: fixed;
    top: 28px;
    right: 50px;
    max-width: 100px;
    max-height: 100px;
    opacity: 0;
    transition: all 0.5s ease;
}

.icons img {
    max-width: 50px;
    max-height: 50px;
    padding: 10px;
    opacity: 0.75;
    transition: all 0.25s ease;
}

.hamburger-icon img:hover {
    opacity: 1;
    cursor: pointer;
}

.x-icon {
    align-self: center;
}

.x-icon img:hover {
    opacity: 1;
    cursor: pointer;
}

.hl {
    display: block;
    border-top: 3px solid var(--color-text);
    max-width: 200px;
    /* align it to the right */
    margin: 50px;
    margin-left: auto;
    opacity: 0.5;
}

.scrolled-navbar-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title-navbar-title {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
}

.title-navbar-panel {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    margin: 0px;
    padding: 25px;
    background: var(--navbar-panel-color);
    box-shadow: var(--navbar-panel-box-shadow);
    z-index: 2;
}

.scrolled-navbar-logo {
    max-width: 200px;
    max-height: 200px;
    margin: 0px;
    padding: 0px;
    align-self: center;
    padding: 0px 50px;
}

.scrolled-navbar-logo img {
    max-width: 200px;
    max-height: 200px;
    opacity: 0.75;
}

.scrolled-navbar-panel {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 35%;
    height: 100%;
    margin: 0px;
    padding: 25px;
    background: var(--navbar-panel-color);
    box-shadow: var(--navbar-panel-box-shadow);
    z-index: 2;
}

.scrolled-navbar-buttons {
    font-size: var(--ts3);
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 50px 0px;
}

.scrolled-button {
    display: block;
    text-align: center;
    margin: 0px;
    max-width: 100%;
    opacity: 0.75;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.button-container img {
    max-width: 25px;
    max-height: 25px;
    padding: 0px 10px;
    margin: 0px;
    opacity: 0;
    transition: all 0.25s ease;
}

.button-container p {
    margin: 0px;
    padding: 0px;
    opacity: 0.75;
}

.scrolled-button:hover {
    opacity: 1;
    animation: nudgeRight 0.25s ease forwards;
}

.scrolled-button:not(:hover) {
    animation: nudgeLeft 0.25s ease forwards;
}

.scrolled-navbar-buttons a {
    color: var(--color-text);
    text-decoration: none;
    transition: all 0.25s ease;
    padding: 25px 100px;
}

.scrolled-navbar-quicklinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.navbar-upButton {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0.5;
    transition: all 0.25s ease forwards;
    z-index: 1;
}

.navbar-upButton:hover {

    animation: nudgeUp 0.25s ease forwards;
}

.navbar-upButton:not(:hover) {
    animation: nudgeDown 0.25s ease forwards;
}

/* == */


@media (max-width: 1375px) {

    .title-navbar {
        display: flex;
        padding: 0px 50px;
    }


    .navbar {
        justify-content: space-between;
    }

    .navbar-logo {
        padding: 0px 90px;
    }

    .navbar-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .scrolled-navbar-panel {
        width: 50%;
    }

    .vl {
        display: none;
    }

    .navbar-buttons {
        display: none;
    }
}

@media (max-width: 840px) {
    .navbar-quicklinks {
        display: none;
    }

    .icons img {
        max-width: 50px;
        max-height: 50px;
    }

    .hl {
        margin: 25px 0px;
        margin-left: auto;
        width: 100px;
    }

    .navbar-logo {
        padding: 0px 25px;
    }

    .title-navbar {
        padding: 0px 25px;
    }

    .navbar-upButton {
        right: 20px;
    }

    .scrolled-navbar {
        right: 25px;
    }

    .navbar-logo img {
        max-width: 100px;
        max-height: 100px;
    }

    .scrolled-navbar-logo img {
        max-width: 100px;
        max-height: 100px;
    }

    .scrolled-navbar-logo {
        padding: 0px 0px;
    }

    .scrolled-button {
        font-size: var(--ts1);
    }

    .scrolled-navbar-buttons a {
        margin: 0px;
        padding: 0px;
    }

    .scrolled-navbar-quicklinks {
        flex-wrap: wrap;
    }
}