.landing-page {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

.landing-page-img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: brightness(0.65);
}

.landing-page-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-page-text {
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
}

.landing-page-text {
  font-size: var(--ts2);
  text-align: left;
}

.landing-page-title {
  opacity: 0;
  margin: 0px;
  animation: swipeToLeft 1s ease forwards, fadeIn 1s ease forwards;
  animation-delay: 0.5s;
}

.landing-page-subtitle-1 {
  opacity: 0;
  margin: 0px;
  max-width: 100%;
  animation: swipeToLeft 1s ease forwards, fadeIn 1s ease forwards;
  animation-delay: 1.5s;
}

.landing-page-subtitle-2 {
  opacity: 0;
  margin: 0px;
  animation: swipeToLeft 1s ease forwards, fadeIn 1s ease forwards;
  animation-delay: 2s;
}

.landing-page-button {
  display: flex;
  opacity: 0;
  animation: fadeIn 1s ease forwards, swipeToLeft 1s ease forwards;
  animation-delay: 2.5s;
}

.landing-page-button {
  color: var(--color-text);
  text-decoration: none;
  opacity: 0;
  transition: all 0.25s ease;
  justify-content: center;
}


.landing-page-button button {
  background-color: transparent;
  text-decoration: none;
  border: 3px solid var(--color-text);
  color: var(--color-text);
  border-radius: 50px;
  padding: 10px 25px;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.landing-page-button button:hover {
  background-color: var(--color-text);
  color: black;
}


.landing-page-footer {
  display: block;
  position: absolute;
  bottom: 0;
  right: 25px;
  opacity: 1;
}


@media (max-width: 840px) {
  .landing-page-text {
    font-size: var(--ts1);
  }
}

/* == */