.index-button {
  opacity: 0.5;
}

.about-button {
  opacity: 0.5;
}

.contact-button {
  opacity: 1;
}

.main-title {
  font-family: var(--font-body);
  font-weight: normal;
  font-size: 4em;
  color: var(--color-secondary);
  text-align: center;
  margin-top: 20px;
  animation: fadeIn 2s ease, dropIn 2s ease;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 0.5s;
  margin-top: 25px;
}

.main-content {
  display: block;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-body);
  font-weight: normal;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.imglink {
  opacity: 0;
}

.imglink img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 50px 50px;
  padding: 15px;
  border-radius: 15px;
}

.imglink img:hover {
  animation: hoverZoomIn 0.25s ease, dropShadowIn 0.25s ease,
    fadeInHalf 0.25s ease;
  animation-fill-mode: forwards;
}

.imglink img:not(:hover) {
  animation: hoverZoomOut 0.25s ease, dropShadowOut 0.25s ease,
    fadeOutHalf 0.25s ease;
  animation-fill-mode: forwards;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

@media (max-width: 728px) {

  /* resize based on screen size, even fonts too */
  .button {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* resize button size */
  .button-main {
    font-size: 1em;
  }

  .navbar-main {
    display: block;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    opacity: 0;
    animation: fadeIn 2s ease, dropIn 2s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    margin-bottom: 15px;
  }

  .button-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-nav);
    font-size: 1em;
    color: snow;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }

  .main-title {
    margin: 25px;
    opacity: 0;
    color: var(--color-secondary);
    font-size: 2em;
    animation: fadeIn 2s ease, dropIn 2s ease;
    animation-fill-mode: forwards;
  }

  .main-subtext-1 {
    font-size: 1em;
  }


  .imglink img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    margin: 25px 25px;
    padding: 15px;
    border-radius: 15px;
  }
}